.btn {
    border-radius: 10px;
    width: fit-content;
    padding: 16px;
    background-image: linear-gradient(98.7deg, rgb(82, 64, 249) 19.95%, rgb(243, 82, 109) 89.51%);
    color: white;
    border: transparent;
}